#control_b
{
    position: absolute;
    left: 70%;
    top:5%;
}

#control_a
{
    position: absolute;
    left: 30%;
    top:5%;
}

#canvas
{
    background: rgb(224, 224, 224);
}

input[type="file"]
{
    position: absolute; left: 45%; top:5%;
}

#restart:hover {
    color: rgb(175, 175, 175);

}

.circle:hover {
    animation: resetrtn 3s ;
}

#dark_theme_btn
{
    position: absolute; left: 90%; top:5%;
    height: 30px;
    width: 30px;
    visibility: hidden;
}

#img-in-btn-for-dark-theme
{
    position: absolute; left: 0%; top:0%;
    height: 25px;
    width: 25px;
    visibility: visible;
}

@keyframes resetrtn
{
    from { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    to { transform: rotate(360deg);}
}