@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#topbar
{
    position: relative;
    display: flex;
    background-color: #F1F2F6;
    padding: 10px;
    z-index: 5;
}

#logo
{
    padding: 0;
}

#buttons
{   
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.top-button
{
    background: #CED6E0;
    outline: none;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    margin: 0 0px 6px 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;

}

.top-button:hover {
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}

.dropdown
{  
    display: none;
    z-index: 6;
    position: absolute;
    top:48px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown_element
{
    background: #CED6E0;
    padding: 15px;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
}

input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

.dropdown_element input:hover
{
    cursor: pointer;
}

.dropdown_element:hover {
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}

#canvas_area
{
    position: absolute;
    left: 1.5%;
    top: 10%;
    width: 65.5%;
    height: 85%;
    overflow: auto;
}

#canvas
{
    background: #F1F2F6;
}

#side_panel
{
    position: absolute;
    background-color: #747D8C;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

#machine_control
{
    position: absolute;
    left:50%;
    top:100px;
    transform: translate(-50%);
}

.ctrl_layer
{
    display: flex;
    justify-content: center;
}

.ctrl_btn
{
    margin: 5px;
    width: 50px;
    height: 50px;
    background: #CED6E0;
    outline: none;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    display: inline-block;
    line-height: 140%;
}

.ctrl_btn:hover
{
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}

.startplot
{
    position: absolute;
    bottom: 2%;
    width: 90%;
    display: flex;
    justify-content: center;
    left: 5%;
}

#sp_btn
{
    width: 100%;
}

.bi-bootstrap-reboot:hover {
    animation: rotate 2s infinite;
}

#dark_theme_btn
{
    position: absolute; left: 90%; top:5%;
    height: 30px;
    width: 30px;
    visibility: hidden;
}

#img-in-btn-for-dark-theme
{
    position: absolute; left: 0%; top:0%;
    height: 25px;
    width: 25px;
    visibility: visible;
}

#switch_mode
{
    position: absolute; left: 20%; top:5%;
    height: 30px;
    width: 30px;
    visibility: hidden;
}

#switch_mode_img
{
    height: 25px;
    position: absolute; left: 5%; top:5%;
    visibility: visible;
}

@keyframes rotate
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg);}
}